<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Dùng SQL Auth để khỏi lệ thuộc Windows account -->
		<add name="MyDB_Site1"
			 connectionString="Data Source=LAPTOP-F1I2GP2R;Initial Catalog=CSDLPT_SITE1;User ID=csdlptsite;Password=csdlptsite123@;Encrypt=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
		<add name="MyDB_Site2"
       connectionString="Data Source=SITE2;Initial Catalog=CSDL_Site2;User ID=sa;Password=sa_password;TrustServerCertificate=True"
       providerName="System.Data.SqlClient" />

		<add name="MyDB_Site3"
			 connectionString="Data Source=SITE3;Initial Catalog=CSDL_Site3;User ID=sa;Password=sa_password;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>